<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="public/styles/main.css">
    <link rel="stylesheet" type="text/css" href="public/styles/login.css">
</head>
<body>
    <img src="graphics/logo.png">
    <h1 id="title">RoamReel</h1>
    <form>
        <label for="email">Email</label>
        <input type ='email' placeholder="E-mail">
        <label for="password">Password</label>
        <input type ='password' placeholder="Password">
        <button type='submit' class="button btn-login">Login</button>
        <p>Don't have an account yet?</p>
        <button type='button' class="button btn-register">Register</button>
    </form>
    </body>
</html>
