main{
    font-family: 'Montserrat', Arial, sans-serif;
}

#creating-panel {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#drop-zone {
    width: 40vw;
    height: 50vh;
    border: 3px dashed #333333;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #333333;
    cursor: pointer;
    transition: 0.3s;
    background-color: #adadad;
}

#drop-zone.dragover {
    border-color: #ffffff;
    background-color: #f0f8ff;
    color: #ffffff;
}

p {
    color: #ffffff;
}

.btn-generate {
    padding: 1.5rem;
    border: none;
    border-radius: 0.5rem;
    background: #4a477a;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}