.allPaths {
    fill: #ececec; 
    stroke: black;
    transition: fill 0.3s, filter 0.2s ease;
}

.allPaths:hover {
    filter: drop-shadow(0 0 10px white);
    stroke-width: 3;
}

#mapContainer {
    width: 100vw;
    height: 100vh;
    cursor: grab; 
}

svg {
    width: 100%;
    height: 100%;
    user-select: none; 
    transform-origin: 0 0;
}

#allSvg {
    transform-origin: 0 0; 
    will-change: transform;
    transition: transform 0.05s ease-out; 
}
