.allPaths {
    fill: #ececec; 
    stroke: black;
    transition: fill 0.3s, filter 0.2s ease;
}

.allPaths:hover {
    filter: drop-shadow(0 0 10px white);
    stroke-width: 2.5;
}

#mapContainer {
    width: 100vw;
    height: 100vh;
    cursor: grab; /* wskazuje, że można przeciągać */
}

svg {
    width: 100%;
    height: 100%;
    user-select: none; /* wyłącza zaznaczanie przy przeciąganiu */
    transform-origin: 0 0; /* punkt odniesienia do skalowania */
}

#allSvg {
    transform-origin: 0 0; /* ważne, żeby transform działał od lewego górnego rogu */
    will-change: transform; /* podpowiada przeglądarce, że będzie transform */
    transition: transform 0.05s ease-out; /* bardzo szybka animacja dla płynności */
}
